@media screen and (max-width: 1000px){
    
    /* header */
    .header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 50px 0px;
    }
    .headerlist{
        display: none;
    }
    .button1{
        padding: 5px 9px;
        font-size: 18px;
        width: 90px;
        height: 30px;
    }
    .button2{
        padding: 5px 9px;
        font-size: 18px;
        width: 136px;
        height: 30px;
    }
    .headerimage{
        width: 100px;
    }
}
.headerbutton{
    gap:10px;
}
/* hero section */
@media screen and (max-width: 1250px){
    .hero{
        background-image: url(images/Rectangle\ 1.png);
        height: 1500px;
        background-repeat: no-repeat;
        background-size: cover;
        
    }
    .herooffer{
        position: relative;
        width:560px ;
        height: 760px;
        background-color: #FFFFFF;
        border-radius: 10px;
        border: 1px; 
        margin: auto;
        top:30%;
        bottom: 0%;
        left: 0%;
        right: 0%;
      
    }
    .findoffer div{
        display: flex;
        flex-direction: column;
    }
.howmuch{
    display: flex;
    flex-direction: column;
    gap: 35px;
}
.button3{
    margin-top: 10px;
    width: 250px;
}
}
@media screen and (max-width: 550px){
    .herooffer{
        position: relative;
        width:380px ;
        height: 760px;
        background-color: #FFFFFF;
        border-radius: 10px;
        border: 1px; 
        margin: auto;
        top:30%;
        bottom: 0%;
        left: 0%;
        right: 0%;
      
    }
}
/* buy/sell */
@media screen and (max-width: 1250px){
    
    .buy-sell div{

        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        }
    .buy-sell div img{
        width: 120px;
        height: 120px;
    }
}
